<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iStalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05C10FEC1C0C3A49007F50E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C110051C0C3A49007F50E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C110101C0C3A49007F50E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
